<div *ngIf="error">
  <h3>Consulta inválida.</h3>
  <a routerLink="" class="button"> Nova Consulta</a>
</div>

<div *ngIf="cepDetail">
  <h3>CEP:</h3>

  <div class="cep-item">
    <table id="cep-table" striped="true">
      <thead>
        <tr>
          <th data-th="Logradouro/Nome">Logradouro/Nome</th>
          <th data-th="Bairro/Distrito">Bairro/Distrito</th>
          <th data-th="Complemento">Complemento</th>
          <th data-th="Localidade/UF">Localidade/UF</th>
          <th data-th="CEP">CEP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ cepDetail.logradouro }}</td>
          <td>{{ cepDetail.bairro }}</td>
          <td>{{ cepDetail.complemento }}</td>
          <td>{{ cepDetail.localidade }} / {{ cepDetail.uf }}</td>
          <td>{{ cepDetail.cep }}</td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <a routerLink="" class="button"> Nova Consulta</a>
</div>
</div>
